*{
    scroll-behavior: smooth;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1500px; */
    padding: 10px 10px; 

}
.navigation::-webkit-scrollbar{
    background-color: black;
}
.logoNetflix{
    width: 20%;
}

a{
    text-decoration: none;

}
li{
    list-style: none;
}
.navLists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.logoAndNav{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
}
.avatar{
    width: 10%;
    height: 80%;
}
.searchNotification{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
}
.searchIcon{
    position: relative;
    left: 7%;
    cursor: pointer;
}
.searchAnything{
padding: 5px 30px;
}
.notificationIcon{
    font-size: 20px;
    cursor: pointer;
}
.dropDown{
    font-size: 25px;
    cursor: pointer;
}
.singOut{
    position: absolute;
    top:8%;
    right: 6.5%;
    background-color: black;
    padding: 10px 10px;

}
.singOut a{
    color: white;
}
.mainContainer{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}
.moviesFetched{
   display: flex;
    width: 1300px;
    margin-top: 30px;
    gap: 2rem;
    margin-left: 60px;
    transition: all 0.6s ease-in-out;
    width: 100%;
}
.Popular{
    /* position: relative; */
    height: 340px;
    width: 500px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
    
}
.Popular img{
    width: 180px;
    height: 170px;
    border-radius:13px 13px 13px 13px ;
}


.Popular:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
}

.Popular img:hover{
    border-radius: 13px 13px 0 0;
}

.buttonAndHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    position: relative;
    left: 4%;
}
.carouselButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.heading{
    font-size: 20px;
    font-weight: bold;
}

.next,.prev{
    border: none;
    background: none;
    font-size: 30px;
    padding: 5px;
    align-items: center;
}

.next:hover{
    cursor: pointer;
    background:black;
    color: white;
    border-radius: 30px;
    transition: all 1s ease-in;
    
}
.prev:hover{
    cursor: pointer;
    background:black;
    color: white;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.infoButton{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.leftButton{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.titleAndOther p{
    font-size: 12px;
}
.titleAndOther{
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
.rating{
    color: rgb(23, 223, 23);

}
.informations{
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 0 0 13px 13px;
    display: none;
}
/* .Popular img:hover   + .informations{
    display: block;
    transition: all 1s ease-in-out;

} */