.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1500px; */
    padding: 10px 10px; 
    color: white;
    background-color: black;
    /* background: transparent; */

}
.navigation::-webkit-scrollbar{
    background-color: black;
}
.logoNetflix{
    width: 20%;
}

a{
    text-decoration: none;
    color: white;

}
li{
    list-style: none;
}
.navLists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.logoAndNav{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
}
.avatar{
    width: 10%;
    height: 80%;
}
.searchNotification{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
    color: white;
}
.searchIcon{
    position: relative;
    left: 7%;
    color: black;
    cursor: pointer;
}
.searchAnything{
padding: 5px 30px;
color: white;
border: 1px solid white;
}
.notificationIcon{
    font-size: 20px;
    cursor: pointer;
}
.dropDown{
    font-size: 25px;
    cursor: pointer;
}
.singOut{
    position: relative;
    top:8%;
    left: 0%;
    background-color:white;
    padding: 10px 10px;
    color: white;
}
.singOut a{
    color: black;
    background-color: white;
}