.top {
    display: flex;
    width: 1300px;
    margin-top: 10px;
    gap: 2rem;
    margin-left: 60px;
    transition: all 0.6s ease-in-out;
    width: 100%;
    /* z-index: -1; */
}
.topMovies{
    position: relative;
    height: 340px;
    width: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.topMovies:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
}
.topMovies img{
    width: 180px;
    height: 170px;
    border-radius:13px 13px 13px 13px ;
    
}
.topMovies img:hover{
    border-radius: 13px 13px 0 0;
}

.topInformation{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 0 0 13px 13px;
    display: none;
}
.topMovies:hover .topInformation{
    display: block;
}
.showTop{
    width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: black;
   color: white;
   font-size: 20px;

}
.topLeft{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mainTOp{
    position: relative;
    overflow: hidden;
}
.topCarousal{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.next,.prev{
    border: none;
    background: none;
    font-size: 30px;
    padding: 5px;
    align-items: center;
}

.next:hover{
    cursor: pointer;
    background:black;
    color: white;
    border-radius: 30px;
    transition: all 1s ease-in;
    
}
.prev:hover{
    cursor: pointer;
    background:black;
    color: white;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}